<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Profile</title>
    <link href="/public/css/info.css" rel="stylesheet">
</head>

<style>
        .btone {
            position: relative;
            top: 50px;
            display: block;
            padding: 11px 13px;
            text-align: center;
            text-decoration: none;
            color: cadetblue;
            background-color: lightblue;
            margin: auto;
            outline: none;
            cursor: pointer;
            border: none;
            font-size: 15px;
        }

        .btone {
            width: 46%;
            line-height: 2em;
            margin: auto;
            text-align: center;
            text-decoration: none;
            border-radius: 8px;

        }

        .btone:hover {
            color: steelblue;
            background: powderblue;
        }
</style>
<body>
    <div class="card">
        <img src="/public/css/employ.png" alt="profile picture">
        <form action="accountChanges" method="post" id="my_form">
            <%data.forEach((item)=>{%>
                <h1>
                    <%= item.Fname%>
                        <%= item.Lname%>
                </h1>

                <table>

                    <tr>
                        <td><strong>Employee ID</strong></td>
                        <td><input type="text" name="id" value="<%= item.ID%>" readonly
                                style="background: none; border: none; margin: 0%;"></td>
                    </tr>
                    <tr>
                        <td><strong>Gender</strong></td>
                        <td>
                            <%= item.Gender%>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Age</strong></td>
                        <td>
                            <%= item.Age%>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Designation</strong></td>
                        <td>
                            <%= item.Role%>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Contact</strong></td>
                        <td>
                            <%= item.Phone%>
                        </td>
                    </tr>

                    <tr>
                        <td><strong>Email</strong></td>
                        <td>
                            <%= item.Email%>
                        </td>

                    </tr>
                    <%});%>
                </table>
    </div>

    <div class="settings">
        <table>

            <tr>
                <td><input type="submit" name="submit" value="Edit Information" class="PatientTableButton"></td>
            </tr>

            <tr>
                <td><input type="submit" name="submit" value="Reset Password" class="PatientTableButton"></td>
            </tr>

            <tr>
                <td><input type="submit" name="submit" value="Logout" class="PatientTableButton"></td>
            </tr>
            
        </table>
    </div>

    <!--Exit button-->
  
        <!--user information icon-->
        <div class="close">          
            <input type="submit" name="submit" value="Back" class="btone">         
        </div>
     
    </form>
</body>

</html>