<!DOCTYPE html>
    <html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
            <title>Adim Profile</title>
            <link href="/public/css/info.css" rel="stylesheet">
        </head>

        <body>
            <div class="card">
                <img src="/public/css/employ.png" alt="profile picture" >
                <form action="accountChanges" method="post">
                <%data.forEach((item)=>{%>
                <h1><%= item.Fname%> <%= item.Lname%></h1>

                <table>
                    
                    <tr>
                        <td><strong>Employee ID</strong></td>
                        <td><%= item.ID%></td>
                    </tr>
                    <tr>
                        <td><strong>Gender</strong></td>
                        <td><%= item.Gender%></td>
                    </tr>
                    <tr>
                        <td><strong>Age</strong></td>
                        <td><%= item.Age%></td>
                    </tr>
                    <tr>
                        <td><strong>Designation</strong></td>
                        <td><%= item.Role%></td>
                    </tr>
                    <tr>
                        <td><strong>Contact</strong></td>
                        <td><%= item.Phone%></td>
                    </tr>

                    <tr>
                        <td><strong>Email</strong></td>
                        <td><%= item.Email%></td>
                        
                    </tr>
                    <%});%>
                </table>
            </div>

            <div class="settings">
                <table>
                   
                    <tr>
                        <td><input type="submit" name="submit" value="Edit Information" class="PatientTableButton"></td>
                    </tr>

                    <tr>
                        <td><input type="submit" name="submit" value="Reset Password" class="PatientTableButton"></td>
                    </tr>

                    <tr>
                        <td><input type="submit" name="submit" value="Logout" class="PatientTableButton"></td>
                    </tr>
                </form>
                </table>
            </div>
            
             <!--Exit button-->
             <div class="close">
                <a href="home_return" class="closebutton">Back</a>
            </div>

        </body>
    </html>