<!DOCTYPE html>
     <html>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
             
            <head>
                 <title>User List </title>
             

              <!-- Bootstrap core CSS -->
<link href="/public/css/bootstrap.min.css" rel="stylesheet">

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  html,body {
            height: 100%;
        }
       
           h1,h2{
                color: white; 
         }
         .mb{
             margin-bottom:10%;
         }
        /* Table */
        table, th, td{
            border-style: solid;
            border-color: black;
            text-align: center;
        }
        tr:nth-child(even){
             background-color: white;
             color: black;
         }
        /*Sidebar Nevigation*/
  *, :before, :after {
        box-sizing: border-box;
    }
    .unstyled {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .unstyled a {
        text-decoration: none;
    }
    .list-inline {
        overflow: hidden;
    }
    .list-inline li {
        float: left;
    }
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 17.5em;
        height: 100vh;
        background: white;
    }
    .main-nav ul {
        border-top: solid 1px #DFDBD9;
    }
    .main-nav li {
        border-bottom: solid 1px #DFDBD9;
    }
    .main-nav a {
        padding: 1.1em 0;
        color: black;
        text-align: left;
    }
    .main-nav a:hover {
        color: #fff;
    }
    .main-nav a.active{
        border-right: solid 10px #5e42a6;
        background: lightgray;
    }
    .list-hover-slide li {
        position: relative;
        overflow: hidden;
        }
    .list-hover-slide a {
        display: block;
        position: relative;
        z-index: 1;
        transition: .35s ease color;
        }
    .list-hover-slide a:before {
        content: '';
        display: block;
        z-index: -1;
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        border-right: solid 10px #5e42a6;
        background: lightgray;
        transition: .35s ease left;
        }
    .list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
        left: 0;
        }
    
    .btn-size {
            width: 35%;
            line-height: 2em;
        }
    .dropdown-toggle { outline: 0; }
      /*background image*/
        .bg-image{
            background-image: url("/public/css/bgimg4cp.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
            width: 100%;
        }  
    </style>
</head>


<body class="d-flex h-100 text-center bg-image">

    <!-- Header -->
    <header class="sidebar h-100" role="banner">
    
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
          <p class="d-flex pb-3 mb-3 h1 fw-light text-upercase text-black">
             Check-In</p>
        
             <div class="nav-warp">
                 <nav class="main-nav" role="navigation">
                    <ul class="list-hover-slide flex-column">
                        <li><a class="text-black btn" href="admin_list_return">Home</a></li> <br> 
                       <li> <a class="text-black btn" href="new_user">Add User</a></li><br>
                        <li><a class="text-black btn" href="remove_user" >Remove User</a></li><br>
                        <li><a class="text-black btn" href="form_list" >Available Patient Forms</a></li><br>
                        <li><a class="text-black active btn" href="new_form" >Create New Patient Form</a></li><br>
                        <li><a class="text-black btn" href="#">Software Updates<br></a></li>
                      </ul>
        </nav>
        </div>
        </div>
      
            <p class="mb-3 mt-auto text-white-50" >&copy; 2021 Company, Inc</p>
           
        
      </header><br> <br>
      <div class="col-10 justify-content-center">
        <center class="w-100 p-2 text-white" style="margin-left: 250px;">
            <form action="addQuestion" method="post">
<script>
    var qTotal=0;
    var nextQ=1;
    var totalNext=0;
    var current=0;
    var apperance = [];
</script>
                <%total.forEach((item)=>{%>
                    <script>
                        apperance.push('<%=item.ID%>')         
                    </script>
                    <%});%>
                    <%questions.forEach((item)=>{%>
                        <script>
                            nextQ= <%=item.Q_apperance%>        
                        </script>
                        <%});%>
                    <script>
                        for (var i = 0; i < apperance.length; i++) {
                            qTotal++;
                        }
                      
                            nextQ+=1
                            
                        
                    </script>
<script>
    totalNext=qTotal+1;
    document.write('<input type="text" name= "questionTotal" value="'+qTotal+'" style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">');
    document.write('<input type="text" name= "nextQ" value="'+nextQ+'" style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">');
</script>

                <h1>Question <%questions.forEach((item)=>{%><%=item.Q_apperance%>
                            <%});%>
                </h1>
                <%questions.forEach((item)=>{%>
                    <input type="text" name="date" value="<%=item.Date%>"
                        style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">
                    <%});%>
                        <%form.forEach((item)=>{%>
                            <input type="text" name="name" value="<%=item.ID%>"
                                style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">
                            <%});%>
                                <%questions.forEach((item)=>{%>

                                    <div class="row">
                                        <div class=" col fs-4 text"> 
                                            <input type="text" name="qCurrent" value="<%=item.Q_apperance%>"
                                            style="color: #212529; background: none; border: none; position: absolute; z-index: -1000;">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class=" col "> 
                                          <label for="qNumber" class="fs-4 text">Question Apperance</label>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                      <div class="col">
                                        <select name="qNumber" id="qNumber" onchange="questionNumber()"
                                                    style="background: none; border: none; color: white;">
                                                    <option name="current" value="<%=item.Q_apperance%>">Current (<%=item.Q_apperance%>)
                                                    </option>
                                                    <script>
                                                        for (var d = 1; d <= qTotal; d++) {
                                                            document.write("<option class='text-dark' value="+d+">" + d + "</option>");
                                                        }
                                                    </script>
                                        </select>
                                        </div>
                                      </div><br>

                                      <div class="row">
                                        <div class=" col "> 
                                          <label for="qType" class="fs-4 text">Question Type</label>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                      <div class="col">
                                        <select name="qType" id="qType" onchange="typeSelection()"
                                                    default="<%=item.Qone_type%>"
                                                    style="background: none; border:none; color: white;">
                                                    <option class="text-dark" name="current" value="<%=item.Qone_type%>">Current (<%=item.Qone_type%>)</option>
                                                    <option class="text-dark" value="text" id="text">Text</option>
                                                    <option class="text-dark" value="radio" id="radio">Radio</option>
                                                </select>
                                        </div>
                                      </div><br>

                                      <div class="row">
                                        <div class=" col "> 
                                          <label for="qContent" class="fs-4 text">Question Content</label>
                                        </div>
                                    </div>
                                    <div class="row"> 
                                      <div class="col-sm-4">
                                        <textarea name="qContent" class="form-control"
                                                    id="exampleFormControlTextarea1" rows="3"
                                                    style="width: 200%; margin-left: 200px;"><%=item.Qone_content%></textarea></td>
                                        </div>
                                      </div><br>
                                      <%});%>
                                
                                      <div class="row">
                                        <div class=" col fs-4 text"id="imageHeader"> 
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                      <div class="col fs-4 text" id="imageUpload">
                                        </div>
                                      </div><br>
        
                                    <div class="row"> 
                                        <div class="col fs-4 text" id="radioNumHeader">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col" id="radioNum">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col fs-4 text" id="radioResOneH">
                                        </div>
                                    </div><br>
        
                                    
                                    <div class="row"> 
                                        <div class="col-sm-4 fs-4 text" style="margin-left: 200px;" id="radioResOne">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col fs-4 text" id="radioResTwoH">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col-sm-4 fs-4 text" style="margin-left: 200px;" id="radioResTwo">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col-sm-4 fs-4 text" style="margin-left: 200px;" id="radioResThreeH">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col-sm-4 fs-4 text" style="margin-left: 200px;" id="radioResThree">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col fs-4 text" id="radioResFourH">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col-sm-4 fs-4 text" style="margin-left: 200px;" id="radioResFour">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col fs-4 text" id="radioResFiveH">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col-sm-4 fs-4 text" style="margin-left: 200px;" id="radioResFive">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col fs-4 text" id="radioResSixH">
                                        </div>
                                    </div><br>
        
                                    <div class="row"> 
                                        <div class="col-sm-4 fs-4 text" style="margin-left: 200px;" id="radioResSix">
                                        </div>
                                    </div><br>
                                    
                                
                                        <!-- load previous radial info if selected -->
                                        <%questions.forEach((item)=>{%>
                                            <script>
                                                if (qType.value == "radio") {
                                                    var radioNum;
                                                    rad1 = '<%=item.Radioone%>';
                                                    rad2 = '<%=item.Radiotwo%>';
                                                    rad3 = '<%=item.Radiothree%>';
                                                    rad4 ='<%=item.Radiofour%>';
                                                    rad5 = '<%=item.Radiofive%>';
                                                    rad6 =  '<%=item.RadioSix%>';
                                                    var radioNumHeader = 'Select Number of Radios';
                                            
                                                    
                                                    
                                                    var amount2;
                                                    if(rad6 !=''){
                                                    amount2='6';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="6"onchange="radioNum()" style="background: none; border:none; color:white;">  <option class="text-dark" name="current" value="'+amount2+'">Current ('+amount2+')</option> <option class="text-dark" value="2"name="2"id="2">2</option> <option class="text-dark" value="3"name="3"id="3">3</option> <option class="text-dark" value="4"name="4"id="4">4</option> <option class="text-dark" value="5"name="5"id="5">5</option> <option class="text-dark" value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad5 != ''){
                                                        amount2='5';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="5"onchange="radioNum()" style="background: none; border:none; color:white;"> <option class="text-dark" name="current" value="'+amount2+'">Current ('+amount2+')</option>   <option class="text-dark" value="2"name="2"id="2">2</option> <option class="text-dark" value="3"name="3"id="3">3</option> <option class="text-dark" value="4"name="4"id="4">4</option> <option class="text-dark" value="5"name="5"id="5">5</option> <option class="text-dark" value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad4 !=''){
                                                        amount2='4';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="4"onchange="radioNum()" style="background: none; border:none; color:white;">  <option class="text-dark" name="current" value="'+amount2+'">Current ('+amount2+')</option>  <option class="text-dark" value="2"name="2"id="2">2</option> <option class="text-dark" value="3"name="3"id="3">3</option> <option class="text-dark" value="4"name="4"id="4">4</option> <option class="text-dark" value="5"name="5"id="5">5</option> <option class="text-dark" value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad3 !=''){
                                                        amount2='3';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="3"onchange="radioNum()" style="background: none; border:none; color:white;">  <option class="text-dark" name="current" value="'+amount2+'">Current ('+amount2+')</option>  <option class="text-dark" value="2"name="2"id="2">2</option> <option class="text-dark" value="3"name="3"id="3">3</option> <option class="text-dark" value="4"name="4"id="4">4</option> <option class="text-dark" value="5"name="5"id="5">5</option> <option class="text-dark" value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }else if(rad2 != ''){
                                                        amount2='2';
                                                    var radioNum = '<select name="radioNumber" id="radioNumber"value="2"onchange="radioNum()" style="background: none; border:none; color:white;">  <option class="text-dark" name="current" value="'+amount2+'">Current ('+amount2+')</option>  <option class="text-dark" value="2"name="2"id="2">2</option> <option class="text-dark" value="3"name="3"id="3">3</option> <option class="text-dark" value="4"name="4"id="4">4</option> <option class="text-dark" value="5"name="5"id="5">5</option> <option class="text-dark" value="6"name="6"id="6">6</option></select>';
                                                 
                                                    }
                                                    
                                            
                                            
                                            
                                                    
                                            
                                                    if (amount2 == "2") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                    } else if (amount2 == "3") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                                    } else if (amount2 == "4") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                    } else if (amount2 == "5") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                    } else if (amount2 == "6") {
                                                        document.getElementById('radioNum').innerHTML = radioNum;
                                                        document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                        var radioSixH = 'Radio Six Response';
                                                        var radioSix = '<textarea name="radioSix" class="form-control" id="RadioSix" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad6 +'</textarea>';
                                                        document.getElementById('radioResSixH').innerHTML = radioSixH;
                                                        document.getElementById('radioResSix').innerHTML = radioSix;
                                            
                                                    }
                                                
                                                }
                                              
                                            </script>
                                        <script>
                                            function typeSelection() {
                                                 rad1 = '<%=item.Radioone%>';
                                                   rad2 = '<%=item.Radiotwo%>';
                                                   rad3 = '<%=item.Radiothree%>';
                                                    rad4 ='<%=item.Radiofour%>';
                                                   rad5 = '<%=item.Radiofive%>';
                                                  rad6 =  '<%=item.RadioSix%>';
                                                document.getElementById('radioResOneH').innerHTML = '';
                                                document.getElementById('radioResOne').innerHTML = '';
                                                document.getElementById('radioResTwoH').innerHTML = '';
                                                document.getElementById('radioResTwo').innerHTML = '';
                                                document.getElementById('radioResThreeH').innerHTML = '';
                                                document.getElementById('radioResThree').innerHTML = '';
                                                document.getElementById('radioResFourH').innerHTML = '';
                                                document.getElementById('radioResFour').innerHTML = '';
                                                document.getElementById('radioResFiveH').innerHTML = '';
                                                document.getElementById('radioResFive').innerHTML = '';
                                                document.getElementById('radioResSixH').innerHTML = '';
                                                document.getElementById('radioResSix').innerHTML = '';
                                                document.getElementById('imageHeader').innerHTML = '';
                                                document.getElementById('imageUpload').innerHTML = '';
                                                document.getElementById('radioNumHeader').innerHTML = '';
                                                document.getElementById('radioNum').innerHTML = '';
                                                var type;
                                                type = document.getElementById('qType').value;
                                                if (type == "image") {
                                                    var imageType = '';
                                                    imageType = '<input type="file" id="imagePrompt" name="imagePrompt">';
                                                    var imageHeader = 'Select Image File';
                                                    document.getElementById('imageHeader').innerHTML = imageHeader;
                                                    document.getElementById('imageUpload').innerHTML = imageType;
                                                }
                                                else if (type == "radio") {
                                                    var radioNum = '';
                                                    radioNum = '<select name="radioNumber" id="radioNumber"value="2"onchange="radioNum()" style="background: none; border:none; color:white;">   <option value="2"name="2"id="2">2</option> <option value="3"name="3"id="3">3</option> <option value="4"name="4"id="4">4</option> <option value="5"name="5"id="5">5</option> <option value="6"name="6"id="6">6</option></select>';
                                                    var radioNumHeader = 'Select Number of Radios';
                                                    document.getElementById('radioNumHeader').innerHTML = radioNumHeader;
                                                    document.getElementById('radioNum').innerHTML = radioNum;
                                                    var radioOneH = 'Radio One Response';
                                                    var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                    document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                    document.getElementById('radioResOne').innerHTML = radioOne;
                                                    var radioTwoH = 'Radio Two Response';
                                                    var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                    document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                    document.getElementById('radioResTwo').innerHTML = radioTwo;
                                                }
                                            }
                                        </script>
                                        <script>
                                            function radioNum() {
                                                rad1 = '<%=item.Radioone%>';
                                                   rad2 = '<%=item.Radiotwo%>';
                                                   rad3 = '<%=item.Radiothree%>';
                                                    rad4 ='<%=item.Radiofour%>';
                                                   rad5 = '<%=item.Radiofive%>';
                                                  rad6 =  '<%=item.RadioSix%>';
                                                document.getElementById('radioResOneH').innerHTML = '';
                                                document.getElementById('radioResOne').innerHTML = '';
                                                document.getElementById('radioResTwoH').innerHTML = '';
                                                document.getElementById('radioResTwo').innerHTML = '';
                                                document.getElementById('radioResThreeH').innerHTML = '';
                                                document.getElementById('radioResThree').innerHTML = '';
                                                document.getElementById('radioResFourH').innerHTML = '';
                                                document.getElementById('radioResFour').innerHTML = '';
                                                document.getElementById('radioResFiveH').innerHTML = '';
                                                document.getElementById('radioResFive').innerHTML = '';
                                                document.getElementById('radioResSixH').innerHTML = '';
                                                document.getElementById('radioResSix').innerHTML = '';
                                                var amount;
                                                amount = document.getElementById('radioNumber').value;
                                                if (amount == "2") {
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                    } else if (amount == "3") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                                    } else if (amount == "4") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                    } else if (amount == "5") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                    } else if (amount == "6") {
                                            
                                                        var radioOneH = 'Radio One Response';
                                                        var radioOne = '<textarea name="radioOne" class="form-control" id="RadioOne" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad1 +'</textarea>';
                                                        document.getElementById('radioResOneH').innerHTML = radioOneH;
                                                        document.getElementById('radioResOne').innerHTML = radioOne;
                                            
                                                        var radioTwoH = 'Radio Two Response';
                                                        var radioTwo = '<textarea name="radioTwo" class="form-control" id="RadioTwo" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad2 +'</textarea>';
                                                        document.getElementById('radioResTwoH').innerHTML = radioTwoH;
                                                        document.getElementById('radioResTwo').innerHTML = radioTwo;
                                            
                                                        var radioThreeH = 'Radio Three Response';
                                                        var radioThree = '<textarea name="radioThree" class="form-control" id="RadioThree" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad3 +'</textarea>';
                                                        document.getElementById('radioResThreeH').innerHTML = radioThreeH;
                                                        document.getElementById('radioResThree').innerHTML = radioThree;
                                            
                                                        var radioFourH = 'Radio Four Response';
                                                        var radioFour = '<textarea name="radioFour" class="form-control" id="RadioFour" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad4 +'</textarea>';
                                                        document.getElementById('radioResFourH').innerHTML = radioFourH;
                                                        document.getElementById('radioResFour').innerHTML = radioFour;
                                            
                                                        var radioFiveH = 'Radio Five Response';
                                                        var radioFive = '<textarea name="radioFive" class="form-control" id="RadioFive" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad5 +'</textarea>';
                                                        document.getElementById('radioResFiveH').innerHTML = radioFiveH;
                                                        document.getElementById('radioResFive').innerHTML = radioFive;
                                            
                                                        var radioSixH = 'Radio Six Response';
                                                        var radioSix = '<textarea name="radioSix" class="form-control" id="RadioSix" rows="1"style="width: 200%;" placeholder="Enter Radio Response Option Here">' + rad6 +'</textarea>';
                                                        document.getElementById('radioResSixH').innerHTML = radioSixH;
                                                        document.getElementById('radioResSix').innerHTML = radioSix;
                                            
                                                    }
                                            }
                                        </script>
  <%});%>

  <br>

        
                                            <input type="submit" name="submit" value="Delete and View Next Question"
                                            style="color: black; margin-left: 33px;"
                                            class="float-start btn-lg btn btn-block  btn-light fw-bold border-white ">
                                        <input type="submit" name="submit" value="Submit and Add or View Next Question"
                                            style="color: black;"
                                            class="float-end btn btn-lg btn-block btn-light fw-bold border-white">
            </form>
        </center>

        <!--Exit button-->

</body>

</html>
