<!-- using CFquery to retrieve list of patients-->
<!--  <cfquery name="" datasource="">
                <Select> FirstName, LastName, Patient Number</Select>
                from 
                order by LastName 
             </cfquery> -->

             <!DOCTYPE html>
             <html>
             <meta name="viewport" content="width=device-width, initial-scale=1.0">
             
             <head>
                 <title>Form Information</title>
                 <link href="/public/css/bootstrap.min.css" rel="stylesheet">
             </head>
             <style>
                 .btone {
                     position: relative;
                     top: 50px;
                     display: block;
                     padding: 11px 13px;
                     text-align: center;
                     text-decoration: none;
                     color: cadetblue;
                     background-color: lightblue;
                     margin: auto;
                     outline: none;
                     cursor: pointer;
                     border: none;
                     font-size: 15px;
                 }
             
                 .btone {
                     width: 46%;
                     line-height: 2em;
                     margin: auto;
                     text-align: center;
                     text-decoration: none;
                     border-radius: 8px;
             
                 }
             
                 .btone:hover {
                     color: steelblue;
                     background: powderblue;
                 }
             </style>
             
             <body>
             
                 <center>
                    <form action="formInfoChanges" method="post">
                    <%data.forEach((item)=>{%>
                        <h1><%=item.Name%> Form Information</h1>
                        <input type="text" name="name" value="<%=item.ID%>" style="color: white; background: none; border: none; position: absolute; z-index: -1000;">
                        <table>
                            
                                
                                    <th>Author</th>
                                  
                                   
                                </tr>
                                <tr>
                                    
                                    <td><input name="author" type="text" style="background: none; border:none; width:200%;" readonly value="<%=item.Author%>"></td>
                                
                                    <tr>
                                
                                        <th>MetaData</th>
                                      
                                       
                                    </tr>
                                    <tr>
                                        
                                        <td><input name="metadata" type="text" style="background: none; border:none;width:200%;" readonly value="<%=item.Metadata%>"></td>
                                        
            
                                        <tr>
                                
                                            <th>Use</th>
                                          
                                           
                                        </tr>
                                        <tr>
                                            
                                            <td><input name="use" type="text" style="background: none; border:none;width:200%;" readonly value="<%=item.Use%>"></td>
                                            
                        </table>
                    
                        <%});%>
             
                     <!-- Output table-->
                    



                        
                         <input type="submit" name="submit"value="Delete Form" style="margin: 5px;" class="btone">
                         <input type="submit" name ="submit"value="View And Add Questions" style="margin: 5px;" class="btone">
                     </form>
                 </center>
             
                 <!--Exit button-->
                 <div class="close">
                     <a href="form_list" class="closebutton" style="margin-top: 9.6em;">Back</a>
                 </div>
             </body>
             
             </html>
